.profileNav {
    width: 100vw;
    height: 100vh; /* Ensure it takes the full viewport height */
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.profile-nav {
    width: 100vw;
    height: 100vh; /* Ensure it takes the full height */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0%;
}
.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: auto;
}
.aTopRow {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%s;

    height: auto;
}
.aTopRow img {
    width: 25%;
}
.profileLogo {
    width: 35%;
}
@media (max-width: 600px) {
    .profileLogo {
        width: 70%;
    }
    .topRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: auto;
        margin-bottom: 10px;
    }
}
.options {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 0px; /* Add some space between the items */
    width: 48px; /* Ensure it takes the full width */
    padding: 0;
    padding-right: 0;
}

@media (max-width: 768px) {
    .options {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        gap: 15px; /* Add some space between the items */
        width: 24px; /* Ensure it takes the full width */
        padding: 0;
        padding-right: 0;
    }
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 18.5px;
    margin-left: px;
    z-index: 1000;
}
@media (max-width: 768px) {
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        padding: 9.25px;
        margin-left: px;
        z-index: 1000;
    }
}
.icons:hover {
    cursor: pointer;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 18.5px;
    margin-left: px;
    z-index: 1000;
}
@media (max-width: 768px) {
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        padding: 9.25px;
        margin-left: px;
        z-index: 1000;
    }
}

.profileLogo:hover {
    cursor: pointer;
}